*, *::before, *::after {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding: 15px;
}
.main__title {
    font-size: 40px;
    margin-bottom: 10px;
}
.main__text {
    font-size: 18px;
    text-align: center;
}
.main__form {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
.main__name-inp, .main__font-inp, .main__font-text-inp, .main__select {
    padding: 14px;
    border-radius: 4px;
    border: 1px solid;
    margin-bottom: 20px;
    border: 1px solid gray;
}
.main__textarea {
    padding: 14px;
    font-size: 15px;
    height: 130px;
    border-radius: 4px;
}
.main__inner-color {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
.main__color {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.main__label {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.main__btn {
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid gray;
    font-size: 18px;
}
.main__color-text, .main__color-bg, .main__color-btn {
    width: 100px;
    background-color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 4px;
    border: 2px solid white;
}
.main__img {
    font-size: 80px;
    margin-bottom: 20px;
}
